<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API AUTOMATION">

	<listeners>
		<listener class-name="com.ankurAPI.utilities.Listeners.TestListener"/>
        <listener class-name="com.ankurAPI.utilities.Listeners.AnnotationTransformer"/>
	</listeners>
	<test thread-count="1" name="GetCustomer-Contracts">
		<classes>
			<class
				name="com.ankurAPI.testcases.TC001_GetPetAndPOSTCall" />
		</classes>
	</test>
</suite>